$color-gray: #7f7f7f;
$color-white: #ffffff;
$color-whiteGray: #f3f3f3;
$color-purple: #982fec;
$color-black: rgb(0, 0,0);

.drawer-container {
    img {
        vertical-align: middle;
        max-height    : 45px;
        max-width     : 199px;
        position      : relative;
        right         : 14vw;
        width         : 50vw;
    }
}

body {
    text-align : center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
}

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: 10vw;
    margin   : 0;
}

h2 {
    font-size: 7vw;
}

h3 {
    font-size: 5vw;
}

p {
    font-size: 4vw;
}

.img__mobile-shown {
    display: inline;
}

.img__desktop-shown {
    display: none;
}

.home {
    background-image : url("../img/mobile/bg.png");
    background-repeat: no-repeat;
    background-size  : cover;
    color            : $color-white;

    &__content {
        position: relative;

        &__text {
            h1 {
                padding-top: 20vw;
            }

            p {
                font-size    : 6vw;
                padding-left : 2em;
                padding-right: 2em;
            }

            button {
                font-weight     : 700;
                margin-top      : 7vw;
                margin-bottom   : 8vw;
                height          : 70px;
                width           : 250px;
                background-color: $color-white;
                border-radius   : 5px;
                border          : 0;
                color           : $color-purple;

                img {
                    width         : 10%;
                    vertical-align: middle;
                    right         : 6px;
                    top           : -2px;
                    position      : relative;
                }
            }
        }

        img {
            width         : 68vw;
            vertical-align: bottom;
        }
    }
}

.works {
    &__content {
        padding: 0 20px;

        &__text {
            h2 {
                margin-top : 0;
                padding-top: 85px;
            }

            p {
                color: $color-gray;
            }
        }

        &__points {
            .points_img {
                width: 14vw;
            }

            .points_line {
                width: 20vw;
            }
        }
    }
}

.whatis {
    background-color: $color-whiteGray;

    &__content {
        padding: 0 20px;

        &__text {
            h2 {
                margin-top : 0;
                padding-top: 85px;
            }

            p {
                color: $color-gray;
            }

            ul {
                text-align    : left;
                padding-left  : 20px;
                padding-bottom: 55px;
                color         : $color-gray;
                font-size     : 4vw;
            }
        }

        img {
            width         : 68vw;
            padding-bottom: 55px;
        }
    }
}

.newsletter {
    background-image   : url("../img/mobile/bg2.png");
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;

    &__content {
        color  : $color-white;
        padding: 0 20px;

        h2 {
            margin-top   : 0;
            padding-top  : 85px;
            margin-bottom: 60px;
        }

        form {
            margin-bottom: 50px;

            input {
                width           : 80%;
                height          : 30px;
                background-color: transparent;
                border-width    : 1px;
                border-color    : $color-white;
                border-radius   : 5px;
            }
        }

        button {
            font-weight     : 700;
            height          : 70px;
            width           : 190px;
            background-color: $color-white;
            border-radius   : 5px;
            border          : 0;
            margin-bottom   : 80px;

            img {
                width         : 10%;
                vertical-align: middle;
                top           : -2px;
                position      : relative;
            }
        }
    }
}

.showcase {
    display: none;
}

.download {
    background-image   : url("../img/mobile/bg3.png");
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;

    &__content {
        color: $color-white;

        &__text {
            padding: 0 20px;

            h2 {
                margin-top : 0;
                padding-top: 85px;
            }
        }

        &__os {
            width  : 148px;
            height : 85px;
            display: inline-block;
            padding: 30px 1vw;

            img {
                width         : 18%;
                padding-bottom: 15px;
            }

            button {
                display         : block;
                font-weight     : 700;
                height          : 35px;
                width           : 148px;
                border-radius   : 5px;
                border          : 0;
                background-color: $color-purple;
                color           : $color-white;
            }
        }
    }
}

.contact {
    background-color: $color-black;
    color           : $color-white;

    p {
        margin : 0;
        padding: 10px 40px;
    }

    .text__colored {
        color: $color-purple;
    }
}
